:root {
    --base-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
    --btn-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
    --dark-mode: 0;
    --font-color: #4d4d4d;
    --text-shadow: #fff;
    --bg-body: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
    --bg-color0: #dbd7d1;
    --bg-color1: White;
    --bg-color2: WhiteSmoke;
    --bg-seek: rgba(255,255,255,0.8);
    --game-hover: #d1e6fa;
    --green-hover: #89b25b;
    --blue-active: #d1e4f6;
    --blue-hover: #1b78d0;
    --good: #629924;
    --bad: #c33;
    --gold: GoldenRod;
    --rusty: rgba(214,79,0,0.5);
    --ct-current: #e2834d;
    --clock-hurry-bg: MistyRose;
    --clock-overtime-bg: #fffbad;
    --clock-running-bg: rgb(208, 224, 189);
    --clock-running-color: Black;
    --blue-point: RoyalBlue;
    --red-point: Crimson;
    --gold-point: GoldenRod;
}
[data-theme="dark"] {
    --dark-mode: 1;
    --font-color: #bababa;
    --text-shadow: none;
    --bg-body: #262421;
    --bg-color0: #262421;
    --bg-color1: #2e2a24;
    --bg-color2: #333333;
    --bg-seek: #2e2a24;
    --game-hover: #223344;
    --green-hover: #537c23;
    --blue-active: #293a49;
    --blue-hover: #3692e7;
    --gold: DarkGoldenRod;
    --rusty: rgba(214,79,0,0.5);
    --ct-current: #a1420a;
    --clock-hurry-bg: #502826;
    --clock-overtime-bg: #474722;
    --clock-running-bg: #384722;
    --clock-running-color: #e3e3e3;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-size: 14px ;
  min-height: 100%;
  font-family: 'Noto Sans', Sans-Serif;
}
body {
  margin: 0;
  color: var(--font-color);
  background: var(--bg-body);
  cursor: default;
}
body.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}

div#preload {
  /* preload board .svg images */
  display: none;
}
