:root {
    --base-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
    --btn-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
    --dark-mode: 0;
    --font-color: #4d4d4d;
    --text-shadow: #fff;
    --bg-body: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
    --bg-color0: #dbd7d1;
    --bg-color1: White;
    --bg-color2: WhiteSmoke;
    --bg-seek: rgba(255,255,255,0.8);
    --game-hover: #d1e6fa;
    --green-hover: #89b25b;
    --blue-active: #d1e4f6;
    --blue-hover: #1b78d0;
    --good: #629924;
    --bad: #c33;
    --gold: GoldenRod;
    --rusty: rgba(214,79,0,0.5);
    --ct-current: #e2834d;
    --clock-hurry-bg: MistyRose;
    --clock-overtime-bg: #fffbad;
    --clock-running-bg: rgb(208, 224, 189);
    --clock-running-color: Black;
    --blue-point: RoyalBlue;
    --red-point: Crimson;
    --gold-point: GoldenRod;
}
[data-theme="dark"] {
    --dark-mode: 1;
    --font-color: #bababa;
    --text-shadow: none;
    --bg-body: #262421;
    --bg-color0: #262421;
    --bg-color1: #2e2a24;
    --bg-color2: #333333;
    --bg-seek: #2e2a24;
    --game-hover: #223344;
    --green-hover: #537c23;
    --blue-active: #293a49;
    --blue-hover: #3692e7;
    --gold: DarkGoldenRod;
    --rusty: rgba(214,79,0,0.5);
    --ct-current: #a1420a;
    --clock-hurry-bg: #502826;
    --clock-overtime-bg: #474722;
    --clock-running-bg: #384722;
    --clock-running-color: #e3e3e3;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.center {
  display: block;
  margin: auto;
}

html {
  font-size: 0.7em;
  min-height: 100%;
  font-family: 'Noto Sans', Sans-Serif;
}
body {
  margin: 0;
  color: var(--font-color);
  background: var(--bg-body);
  cursor: default;
}
body.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}

div#preload {
  /* preload board .svg images */
  display: none;
}

div.about, div.guide, div.patron, div.closed {
  margin: 0 auto;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: var(--base-shadow);
  background-color: var(--bg-color1);
  padding: 24px;
}

ul.guide-menu {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  padding-right: 24px;
}
ul.guide-menu li {
  width: 33%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.nav-link:link, .nav-link:visited {
  color: var(--font-color);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 var(--text-shadow);
  display: inline-block;
  padding-right: 8px;
}
.nav-link:hover, .nav-link:active {
  color: var(--blue-hover);
}
.nav-link.home {
  font-size: 25px;
}
.nav-link.login {
  float: right;
}


.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: var(--font-color);
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  height: 40px;
  padding: 0px 4px 0px 4px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .tool-container button {
  float: right;
  color: var(--font-color);
  background-color: inherit;
  width: 40px;
  height: 40px;
  padding: 0px 4px 0px 4px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .tool-container button:hover {
  color: var(--blue-hover);
}

#username {
  padding: 0px 4px 0px 4px;
  float: right;
}

a, .user-link:link, .user-link:visited {
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
}
a, .user-link:hover, .user-link:active {
    color: RoyalBlue;
}

/* Clock */
.clock-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#clock0 {
  display: flex;
  flex-direction: row-reverse;
}
.more-time {
  float: right;
}
button.icon.icon-plus-square {
  border: none;
  color: LightBlue;
  background-color: var(--bg-body);
  font-size: 36px;
  cursor: pointer;
}
button.icon.icon-plus-square:hover {
  color: LightSkyBlue;
}
button.icon:focus {
  outline:none;
}
button.icon::-moz-focus-inner {
  border:0;
}

.clock {
  display: inline-flex;
  text-align: center;
  font-family: "Roboto Mono", "Roboto";
  font-size: 50px;
  box-shadow: var(--btn-shadow);
}
.clock.time, .clock.sep {
  background-color: var(--bg-color1);
}
.clock.time.min {
  padding-left: 12px;
  box-sizing: border-box;
}
.clock.time.sec {
  padding-right: 12px;
  box-sizing: border-box;
}

.clock.time.running, .clock.sep.running {
  color: var(--clock-running-color);
  background-color: var(--clock-running-bg);
}
.clock.sep.running.low {
  color: Gray;
}

.clock.time.overtime, .clock.sep.overtime {
  background-color: var(--clock-overtime-bg);
}

.clock.time.hurry, .clock.sep.hurry {
  background-color: var(--clock-hurry-bg);
}

.clock.time.byo.byoyomi {
  display: block;
  padding-right: 12px;
  padding-top: 30px;
  font-size: 20px;
}
.clock.time.byo:not(.byoyomi) {
  display: none;
}

.connecting.clock.time, .connecting.clock.sep {
    animation: clock-blink .5s cubic-bezier(.5,0,1,1) infinite alternate;
}
@keyframes clock-blink {
    from { opacity: 1 }
    to { opacity: 0 }
}

#movelist-block {
  height: 30px;
}
div#moves {
  display: inline;
  background: var(--bg-color1);
}
div.anal#moves {
  display: inline;
  background: var(--bg-color1);
}

ol.movelist {
}
li.move {
  display: inline;
  padding-left: 6px;
  justify-content: center;
}
eval {
  font-size: .8em;
  padding-right: 8px;
  color: Gray;
  float: right;
}

li.move.counter {
  color: Gray;
  width: 16%;
  background-color: var(--bg-color2);
  text-align: center;
}

li.move:hover {
  color: var(font-color);
  background-color: var(--blue-hover);
}
li.move.active {
  background-color: var(--blue-active);
}
li.move.hidden {
  visibility: hidden;
}
